h1 {
  font-family: Lucida Console, Courier, monospace;
  text-align: center;
  margin: 1em;
  color: rgb(150, 114, 247);
  text-shadow: 1px 1px 7px black;
}

body {
  background-image: url('../assets/pink-snowflakes.jpg');
  overflow: hidden;
}

.penguin {
  transform: rotate(-3deg);
  margin: auto;
}

.penguin-container {
  display: grid;
  align-content: center;
}

.snowflake {
  width: 8rem;
  height: 8rem;
  position: absolute;
  animation-name: rotate, falling;
  animation-duration: 2s, 10s;
  animation-iteration-count: infinite, 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.tree {
  background-image: url('../assets/tree.png');
  background-size: 100% 100%;
  height: 10em;
  display: grid;
  align-content: center;
  margin-bottom: 3rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes falling {
  from {
    bottom: 100vh;
  }

  to {
    bottom: 2rem;
  }
}
